$pallete_1: #141C36;
$pallete_2: #DC4A4F;
$pallete_3: #CD486F;
$pallete_4: #EBE9DF;
$pallete_5: #F0AE43;
$pallete_6: #DB5935;
$pallete_7: #DA3467;

.bold_text{
  color: $pallete_1;
  &:hover {
      color:$pallete_7;
  }
}

.trial_button{
  background-color: $pallete_6;
}

.landing-page{
  background-image: url(../assets/landing_page.png);
}
