$pallete_1: #141C36;
$pallete_2: #DC4A4F;
$pallete_3: #CD486F;
$pallete_4: #EBE9DF;
$pallete_5: #F0AE43;
$pallete_6: #DB5935;
$pallete_7: #DA3467;
$pallete_8: #141C36;
$pallete_9: #FF5246;

.bold_text{
  color: $pallete_1;
  &:hover {
      color:$pallete_7;
  }
}

.trial_button{
  background-color: $pallete_6;
}

.mini_title{
  color: $pallete_1;
}
.mini_button{
  color: $pallete_8;
  .mini_svg{
    color: $pallete_9;
  }
}

.landing-page{
  background-image: url(../assets/landing_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid_1{
  background-image: url(../assets/grid_1.png);
  background-size: cover;
}
.grid_2{
  background-image: url(../assets/grid_2.png);
  background-size: cover;
}
.grid_3{
  background-image: url(../assets/grid_3.png);
  background-size: cover;
}
.grid_4{
  background-image: url(../assets/grid_4.png);
  background-size: cover;
}
.grid_5{
  background-image: url(../assets/grid_5.png);
  background-size: cover;
}

.bg-1{
  background-color: $pallete_3;
}
.bg-2{
  background-color: $pallete_6;
}
.bg-3{
  background-color: $pallete_5;
}
.bg-4{
  background-color: $pallete_7;
}
.bg-5{
  background-color: $pallete_4;
}
